/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

h1:first-of-type {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - h1
   #2 - #unique
   #3 - .chuuuuu
   #4 - h1:first-of-type
   #5 - h1.pika

   e.g. - .pika               */